@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --primary-color: #155B8E;
  --success-color: #006600;
  --error-color: #c0392b;
  --light-background: #ecf0f1;
  --dark-border: #dedede;
  --header-color: #2e75cc;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

.required{
  color: var(--error-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px 15px;
  background-color: #FFFFFF;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background-color: var(--primary-color);
  color: #FFFFFF;
}

.titulo {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: var(--header-color);
}

.h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

.h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #FFFFFF;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
  border-right: 1px solid var(--dark-border);
}

.info{
  border: 1px solid black;
  border-radius: 50%;
  border-color: var(--primary-color);
  padding: 0px 2px;
  text-align: center;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: var(--success-color);
}

.money.minus {
  color: var(--error-color);
}

label {
  display: inline-block;
  margin: 10px 0;
}

select[id='categoria'],
input[id='amount'],
input[id=description] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px; /* Adicionado um espaçamento inferior */
}

.btn,
.btn-entrada,
.btn-saida {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  color: #FFFFFF;
  border: 0;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s, color 0.3s; /* Adicionado efeito de transição suave */

}

.btn {
  background-color: #00a0fd;
  margin: 10px 0 30px;
}

.btn-entrada {
  background-color: var(--success-color);
}

.btn-saida {
  background-color: var(--error-color);
}

.btn:hover, 
.btn-entrada:hover,
.btn-saida:hover {
  background-color: #363636;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #FFFFFF;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.transactions li.plus {
  border-right: 5px solid var(--success-color);
}

.transactions li.minus {
  border-right: 5px solid var(--error-color);
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}

.group-btn {
  display: flex;
  gap: 50px;
}

.progress-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.category-name-amount {
  display: flex;
  width: 100%;
}

.category-name, 
.total-amount {
  width: 100%;
  box-sizing: border-box;
}

.total-amount {
  text-align: end;
}

.category-bar {
  background-color: var(--success-color);
  height: 20px;
  margin-top: 5px;
  text-align: center;
  line-height: 20px;
  color: white;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}